<div class="mx-left" style="width: 450px;">
  <div class="row mb-2">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Tema" [(ngModel)]="filtroLista">
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <button class="btn btn-outline-info" (click)="alternarImage()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5000/img/{{evento.imagemURL}}" alt={{evento.imagemURL}}
          [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | date:'dd/MM/yyyy HH:mm:ss'}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome | uppercase}}</td>
      <td>
        <button class="btn btn-warning me-2">
          <i class="far fa-edit"></i>
        </button>
        <button class="btn btn-danger">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h5>Nenhum evento encontrado!</h5>
      </td>
    </tr>
  </tfoot>
</table>
